.header {
    display: flex;
    width: 100%;
    letter-spacing: .5px;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    opacity: 0;
    will-change: opacity, transform;
    transform: translateZ(0);
}

@keyframes nav_upload_animation {
    0% {
        background-color: #1a7d59;
    }
    33% {
        background-color: #e76d65;
    }
    66% {
        background-color: #0c89c8;
    }
    100% {
        background-color: #1a7d59;
    }
}

#nav_upload {
    background-color: #1a7d59;
    border-radius: 7px;
    margin: -3px;
    padding: 3px;
    color: white;
    animation-name: nav_upload_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.header__logo {
    display: flex;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    justify-content: flex-start;
    align-items: center;
}

.header__photo {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 100%;
    background-image: url('../assets/images/static_logo.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: transform .2s ease-in-out;
    @include mob-big {
        width: 3rem;
        height: 3rem;
        margin-right: 0.75rem;
    }
    &:hover {
        transform: scale(1.25); // @supports (mix-blend-mode: multiply) {
        //     background-color: magenta;
        //     background-blend-mode: screen;
        //     &::before,   
        //     &::after {
        //         display: block;
        //         content: '';
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         right: 0;
        //         bottom: 0;
        //         background: inherit;
        //         mix-blend-mode: multiply;
        //         background-blend-mode: screen;
        //         transform: scale(1.06);
        //     }
        //     &::before {
        //         background-color: yellow;
        //         transform-origin: top left;
        //     }
        //     &::after {
        //         background-color: cyan;
        //         transform-origin: bottom right;
        //     }
        // }
    }
}

.header__name {
    display: inline-block;
    font-size: $text-normal;
    @include mob-big {
        font-size: 1.2em;
    }
}

.header__nav {
    display: flex;
    margin-bottom: 1.5em;
    flex-flow: row wrap;
    justify-content: center;
}

.header__nav__item {
    display: inline-block;
    @include mob-big {
        font-size: $text-small;
        flex-basis: auto;
        text-align: center;
    }
    &:not(:last-of-type) {
        margin-right: 2em;
        @include mob-big {
            margin-right: 1em;
        }
    }
}

.header__nav__link {
    display: inline-block;
    color: $grey-dark;
    font-size: $text-normal;
    @include mob-big {
        min-height: 44px;
        line-height: 44px;
    }
    &--active {
        color: $active;
        font-weight: $font-bold;
    }
    &::after {
        display: none;
    }
}

#nav_extension {
    display: inline-flex;
    align-items: center;
    gap: .35em;
    color: $grey-dark;
    font-size: $text-normal;
    transition: color .2s ease-in-out;
    @include mob-big {
        display: none;
    }

    &:hover {
        color: $active;
    }

    .chrome-icon {
        flex-shrink: 0;
        width: 1em;
        height: 1em;
    }
}