.headline {
    max-width: $container-width;
    margin: 4.5rem auto 6rem;
    opacity: 0;
    will-change: opacity, transform;
    transform: translateZ(0);
    @include ipad-land {
        margin: 2rem auto 4rem;
        margin: 4vmax auto 8vmax;
    }
}

.headline__text {
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 5em;
    font-size: 8vmax;
    font-size: fluid-text(2.5, 6);
    font-weight: $font-bold;
    line-height: $line-height-small;
    @include pc-big {
        font-size: 5.9em;
    }
    &:not(:only-child) {
        margin-bottom: 2rem;
    }
    &>* {
        font-weight: inherit;
    }
}

.header__text--list {
    counter-reset: header-counter;
    * {
        padding-left: 1.05em;
    }
    *::before {
        margin-left: -1.05em;
        content: counter(header-counter)'. ';
        counter-increment: header-counter;
    }
}

.headline__paragraph {
    letter-spacing: .25px;
    font-size: 2.25em;
    font-size: 3.5vmax;
    font-size: fluid-text(1.5, 2.5);
    font-weight: $font-light;
    @include pc-big {
        font-size: 2.25em;
    }
}